@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing:border-box;
}
/* 以防padding影響到其他元素 */

body {
  background-color: #f9fafb;
  /* 設定背景顏色 */
  font-family: 'Open Sans',sans-serif;
  /* 設定字體 */
  display:flex;
  /* 使用flexb讓資料自動排列 */
  align-items: center;
  /* 對齊交錯軸線中央 */
  justify-content: center;
  /* 在瀏覽器中居中排列 */
  min-height: 100vh;
  /* 設定網頁元素的最低高度限制 */
  margin: 0;
  /* 外邊界距離，俗稱外距 */
}

.container{
  /* 用container設定表單整體範圍 */
  background-color: #fff;
  /* 設定背景顏色 */
  border-radius: 5px;
  /* 設定邊界圓角 */
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  /* 設定周邊陰影 */
  width: 400px;
  /* 設定寬度 */
}

h2 {
  text-align: center;
  /* 讓文字置中 */
  margin: 0 0 20px;
  /* 上0px 左、右0px 下20px */
}

.form{
  padding: 30px 40px;
  /* 調整上下內距 */
}

.form-control{
  margin-bottom: 10px;
  /* 外距調整為10px */
  padding-bottom: 20px;
  /* 內距調整為20px */
  position: relative;
  /* 會使其元素「相對地」調整其原本該出現的所在位置 */
}

.form-control label{
  color: #777;
  /* Label的文字呈現為灰色 */
  display: block;
  /* 要求元素以區塊方式呈現 */
  margin-bottom: 5px;
  /* 底部外距為5px */
}

.form-control input {
  border: 2px solid #f0f0f0;
  /* 調整inputbox的邊界為粗框設計 */
  border-radius: 4px;
  /* 讓邊界產生部分圓角 */
  display: block;
  /* 使用區塊型的呈現方式 */
  width: 100%;
  /* 自然地在規定的範圍內延展呈現 */
  padding: 10px;
  /* 內距調整為10px(文字填寫內容與輸入空格的間距) */
  font-size: 14px;
  /* 文字大小為14px */
}

.form-control input:focus {
  outline: 0;
  /* 去掉原有邊框設計 */
  border-color: #777;
  /* 選取邊框效果改為灰色 */
}

.form-control.success input {
  border-color: var(--success-color);
  /* 如果填寫正確，則邊框效果為綠色 */
}

.form-control.error input {
  border-color: var(--error-color);
  /* 如果填寫錯誤，邊框效果為紅色 */
}

.form-control small{
  color:var(--error-color);
  /* 填寫錯誤出現的訊息顏色 */
  position: absolute;
  /* 修改位置呈現為絕對位置 */
  bottom: 0;
  /* 向下貼齊，與空格保持部分距離 */
  left: 0;
  /* 置左呈現 */
  visibility: hidden;
  /* 預設為隱藏 */
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  /* 會出現手指的符號 */
  background-color: #3498db;
  /* 背景顏色設定 */
  border: 2px solid #3498db;
  /* 邊界顏色與背景色相同 */
  border-radius: 4px;
  /* 部分圓角 */
  color: #fff;
  /* 字體顏色為白色 */
  display: block;
  /* 顯示方式為區塊型呈現 */
  font-size: 16px;
  /* 字體大小為16px */
  padding:10px;
  /* 內距為10px */
  margin-top: 20px;
  /* 與上方空格距離為20px */
  width: 100%;
  /* 按鈕左右延展 */
}
