/* Use the questrial font to write the CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Border-BOX */
/* 使用這個屬性，內容物的padding和margin不會影響總寬度 */
* {
  box-sizing: border-box;
}

/* 選擇字型，背景採用淺灰色，讓畫面置中 */
body{
  font-family: 'questrial', sans-serif;
  background-color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1{
  color: #fff;
}

/* 撥放器主體畫面可用滑鼠點擊，整體畫面為圓框 */
.screen {
  cursor: pointer;
  width: 60%;
  background-color: #000  !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* 控制欄主色調為白色，背景為灰色，圓框，按鈕與拉bar也必須置中 */
.controls {
  background: #333;
  color: #fff;
  width: 60%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;

}

.controls .fa-play{
  color: #28a745;
}

.controls .fa-stop{
  color: #dc3545;
}

.controls .fa-pause{
  color: #fff;
}

.controls .timestamp{
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}

/* 拉bar按鈕採用無框線設計 */
.btn:focus {
  outline: 0;
}

/* 固定影片進度條為800px */
/* 伸縮時進度調為螢幕的90% */
@media(max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}